/* index.css */
.home-container {
    display: flex;
  }
  
.modules-column {
    flex: 1;
    padding-right: 20px;
}
  
.status-sidebar {
    width: 300px; /* Adjust the width as needed */
    position: absolute;
    right: 0;
}


 
 