.wd-kanbas-navigation {
    background-color: black;
    list-style: none;
    padding: 0px;  margin: 0px;
    width: 80px;
}
.wd-kanbas-navigation li {
    padding: 10px;     margin-bottom: 10px;
    font-size: 0.8em;  text-align: center;
}
.wd-kanbas-navigation li.wd-active {
    background-color: white;
}
.wd-kanbas-navigation li.wd-active a {
    color: red;
}
.wd-kanbas-navigation a {
    color: white;
    text-decoration: none;
}
.wd-kanbas-navigation a i {
    color: red;
    font-size: 2em;
    margin-bottom: 5px;
}

.wd-kanbas-navigation li {
    margin-bottom: 10px;
}

.wd-kanbas-navigation a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
    margin: 5px;
}
  
.wd-kanbas-navigation i {
    margin-bottom: 5px; 
}

.wd-kanbas-navigation a img {
    width: 70px; /* Set a fixed width for consistency */
    height: 70px; /* Set a fixed height for consistency */
    margin-bottom: 5px;
}

.wd-kanbas-navigation li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}


